
<br>
<div class="alert alert-info" role="alert">
  <a href = "/admin/products"> <%= @how_many_items %> </a>products are in the database
</div>

<br>

<div class="alert alert-primary" role="alert">
  <%= @how_many_categories %> categories are in the database
</div>

<div>
Go back to <a href ="/">Index</a>
</div>
