<br>
<h1>About Us</h1>

<p>Turn your apartment into a wild jungle, with our help.</p>
<p>With trees, shrubs and evergreens we'll turn a bachelor pad into a wild nest of greenery.</P>
<p>Your very own oasis amidst the concrete jungle.</p>
<br>
We're a local Canadian company that believes in fair pay, responsible peoducts and givign back to the community.
A portion of our profits will go into the restoration of the moss that was growing on our historical local Ugly Building, that the tourists pulled out. 